In [1]:
cube = lambda num: num **3**3

cube(3)

7625597484987

In [ ]:
add = lambda x, y: x + y

print(add(3, 5))

In [ ]:
# A regular named function
def square(num): return num * num

# An equivalent lambda, saved to a variable
square2 = lambda num: num * num

# Another lambda
add = lambda a,b: a + b

# Executing the lambdas
print(square2(7))
print(add(3,10))

# Notice that the square function has a name, but the two lambdas do not
print(square.__name__)
print(square2.__name__)
print(add.__name__)

In [ ]:
#map function: accepts at least two arguments. 
#it's ITERABLE (it runs through each item in list)

In [12]:
people = ['bob', 'ted', 'bill']
peeps = map(lambda name: name.capitalize(), people)
list(peeps)

['Bob', 'Ted', 'Bill']

In [11]:
#lambda way...

nums= [1, 2, 3, 4]
doubles = map(lambda x: x*2, nums)
list(doubles)

[2, 4, 6, 8]

In [16]:
#function way...

nums=[1, 2, 3, 4]

def double(x):
    return x*2

double= map(double, nums) #map asks for function and list...

list(double)

[2, 4, 6, 8]

In [37]:
#map exercise......

def decrement_list(l):
    return list(map(lambda n: n-1, l)) #lamda asks for argument & manipulation of argument...

list(decrement_list([1,2,3]))

[0, 1, 2]

In [43]:
#filter - takes objeccts and converts into other iterable items

l = [1,2,3,4,5,6]

evens = list(filter(lambda n: n % 2 == 0, l))

list(evens)

[2, 4, 6]

In [3]:
#use FILTER

users = [
    {"username": "samuel", "tweets": ["I love cake", "I love pie", "hello world!"]},
    {"username": "katie", "tweets": ["I love my cat"]},
    {"username": "jeff", "tweets": []},
    {"username": "bob123", "tweets": []},
    {"username": "doggo_luvr", "tweets": ["dogs are the best", "I'm hungry"]},
    {"username": "guitar_gal", "tweets": []}
]

#extract inactive users using filter (don't have to make "tweets" = 0):
inactive_users = list(filter(lambda u: not u['tweets'], users))

print(inactive_users)

[{'username': 'jeff', 'tweets': []}, {'username': 'bob123', 'tweets': []}, {'username': 'guitar_gal', 'tweets': []}]

In [4]:
## combining MAP & FILTER

users = [
    {"username": "samuel", "tweets": ["I love cake", "I love pie", "hello world!"]},
    {"username": "katie", "tweets": ["I love my cat"]},
    {"username": "jeff", "tweets": []},
    {"username": "bob123", "tweets": []},
    {"username": "doggo_luvr", "tweets": ["dogs are the best", "I'm hungry"]},
    {"username": "guitar_gal", "tweets": []}
]

# # extract usernames of inactive users w/ map and filter:
usernames = list(map(lambda user: user["username"].upper(), 
	filter(lambda u: not u['tweets'], users)))

print(usernames)

['JEFF', 'BOB123', 'GUITAR_GAL']

In [19]:
#### USING LIST COMPREHENTION...better option
users = [
	{"username": "samuel", "tweets": ["I love cake", "I love pie", "hello world!"]},
	{"username": "katie", "tweets": ["I love my cat"]},
	{"username": "jeff", "tweets": []},
	{"username": "bob123", "tweets": []},
	{"username": "doggo_luvr", "tweets": ["dogs are the best", "I'm hungry"]},
	{"username": "guitar_gal", "tweets": []}
]
# #extract inactive users using list comprehension:
inactive_users2= [user["username"].upper() for user in users if user["tweets"]==[]] #or "if not user ['tweets']"

print(inactive_users2)

['JEFF', 'BOB123', 'GUITAR_GAL']

In [36]:
def remove_negatives(nums):
    return list(filter(lambda l:l >=0, nums))

print(remove_negatives([-2,-1,0,1,2]))

[0, 1, 2]

In [ ]:
import tkinter as tk
# DON'T WORRY ABOUT ANY OF THIS CODE
root = tk.Tk()#=====================
frame = tk.Frame(root)#=============
frame.pack()#=======================
# DON'T WORRY ABOUT ANY OF THIS CODE

# Don't need this function if we use a lambda 
# def say_hi():
#     print("HELLO!")

button = tk.Button(frame, 
                   text="CLICK ME", 
                   fg="red",
                   command=lambda: print("Hello"))



# DON'T WORRY ABOUT ANY OF THIS CODE
button.pack(side=tk.LEFT) #=========
root.mainloop() #===================
# DON'T WORRY ABOUT ANY OF THIS CODE

In [41]:
#any/all functions -- ALL 

people = ['charlie', 'chuck', 'chase']

all([name[0]=='c' for name in people])

people.append('kristy')

all([name[0]=='c' for name in people]) #returns True false for entire list
#[name[0]=='c' for name in people] #w/o all in front, returns list of True/False

False

In [43]:
#any --return if ANY item in iterable is true

people = ['charlie', 'chuck', 'chase']

people.append('kristy')

any([name[0]=='k' for name in people])

##DO NOT NEED TO USE LIST COMPREHENSSION BRACKETS. 
##See https://stackoverflow.com/questions/47789/generator-expressions-vs-list-comprehension

#if we never use it again --don't need list comprehension

True

In [44]:
## Generator Expressions

##DO NOT NEED TO USE LIST COMPREHENSSION BRACKETS. 
##See https://stackoverflow.com/questions/47789/generator-expressions-vs-list-comprehension

#if we never use it again --don't need list comprehension

import sys
# A simple comparison of size (in Bytes)
list_comp = sys.getsizeof([x * 10 for x in range(1000)])
gen_exp = sys.getsizeof(x * 10 for x in range(1000))

print("To do the same thing, it takes...")
print(f"List Comprehension: {list_comp} bytes")
print(f"Generator Expression: {gen_exp} bytes")

To do the same thing, it takes...
List Comprehension: 9016 bytes
Generator Expression: 112 bytes

In [59]:
#Any/All Exercise

def is_all_strings(l):
    return all([type(i) == str for i in l])
print(is_all_strings(['x','y']))

True

In [64]:
# SORTED function - works on anything that is iterable. sorts

nums = [4,6,1,30,55,23]

print(sorted(nums))
print(sorted(nums, reverse=True))
print(nums)

##ACCPETS TUPLES TOO

[1, 4, 6, 23, 30, 55]
[55, 30, 23, 6, 4, 1]
[4, 6, 1, 30, 55, 23]

In [73]:
##### SORT ON DICTIONARIES

users = [
	{"username": "samuel", "tweets": ["I love cake", "I love pie", "hello world!"]},
	{"username": "katie", "tweets": ["I love my cat"]},
	{"username": "jeff", "tweets": []},
	{"username": "bob123", "tweets": []},
	{"username": "doggo_luvr", "tweets": ["dogs are the best", "I'm hungry"]},
	{"username": "guitar_gal", "tweets": []}
]
        
#sorted(users, key=lambda user: user['username']) #passes based on lambda information

sorted(users, key=lambda user: len(user['tweets']), reverse=True) #sort by length of user tweets

[{'username': 'samuel',
  'tweets': ['I love cake', 'I love pie', 'hello world!']},
 {'username': 'doggo_luvr', 'tweets': ['dogs are the best', "I'm hungry"]},
 {'username': 'katie', 'tweets': ['I love my cat']},
 {'username': 'jeff', 'tweets': []},
 {'username': 'bob123', 'tweets': []},
 {'username': 'guitar_gal', 'tweets': []}]

In [74]:
# SORTED - ANOTHER EXAMPLE DATA SET==================================
songs = [
	{"title": "happy birthday", "playcount": 1},
	{"title": "Survive", "playcount": 6},
	{"title": "YMCA", "playcount": 99},
	{"title": "Toxic", "playcount": 31}
]

# To sort songs by playcount
sorted(songs, key=lambda s: s['playcount'])

[{'title': 'happy birthday', 'playcount': 1},
 {'title': 'Survive', 'playcount': 6},
 {'title': 'Toxic', 'playcount': 31},
 {'title': 'YMCA', 'playcount': 99}]

In [83]:
### MIN/MAX

a=[3,5,6]
print(max(a))
print(min(a))

b='whattupppp'
print(max(b))
print(min(b))

names = ['Arya', "Samson", "Dora", "Tim", "Ollivander"]

# finds the minimum length of a name in names
min(len(name) for name in names) # 3

# find the longest name itself
max(names, key=lambda n:len(n)) #Ollivander

songs = [
	{"title": "happy birthday", "playcount": 1},
	{"title": "Survive", "playcount": 6},
	{"title": "YMCA", "playcount": 99},
	{"title": "Toxic", "playcount": 31}
]

# Finds the song with the lowerest playcount
min(songs, key=lambda s: s['playcount']) #{"title": "happy birthday", "playcount": 1}

# Finds the title of the most played song
max(songs, key=lambda s: s['playcount'])['title'] #YMCA, returns only title of most played song

6
3
w
a

'YMCA'

In [90]:
###Min/Max Exercise

def extremes(l):
    return(max(l), min(l))
print(extremes([1,2,3]))

(3, 1)

In [98]:
### REVERSED - not reverse()

for char in reversed("hello world"):
    print(char)
    
print('hello'[::-1])

print(list(reversed('hello')))
print(''.join(list(reversed("hello"))))

for x in reversed(range(0,10)):
    print(x)

d
l
r
o
w

o
l
l
e
h
olleh
['o', 'l', 'l', 'e', 'h']
olleh
9
8
7
6
5
4
3
2
1
0

In [1]:
len('asdf;lkj') #8
#this was a preview into OOP, and "dunder"

8

In [32]:
#abs(), sum(), round()

print(abs(-13)) #returns absolute value of int/float

import math
print(math.fabs(-13)) #fabs returns float of abs value

print(sum([1,2,3], 11)) #adds list to 10
print(sum((1,2,3,4.9),10)) #adds tuples
print(sum({1,2,3,4,5},10)) #adds sets
print(math.fsum([1,2,3])) #floats sum

print(''.join(['hi', ' ', 'there'])) # "sums" strings

####round

print(round(2.5)) #2
print(round(2.51)) #3
print(round(3.123412341234, 5)) #3.12341

13
13.0
17
20.9
25
6.0
hi there
2
3
3.12341

In [17]:
print(sum({1,2,3,4,5})) #adds sets

15

In [37]:
#largest absolute number (farthest from 0)

def max_magnitude(nums):
    return max(abs(num) for num in nums)

print(max_magnitude([-10,1,2,3]))

10

In [43]:
#sums all even numbers in list:
    
def sum_even_values(*nums):
    return sum(num for num in nums if num % 2==0)

print(sum_even_values(1,2,3,4,5,6))

12

In [49]:
def sum_floats(*args):
    return sum(a for a in args if type(a)==float)

print(sum_floats("what", 1.0, 1.5, 3, "is going on?"))

2.5

In [66]:
####....ZIP....takes two list and takes position 0,0 then 1,1 then 2,2, etc. and turns them to list of tuples, or dict

nums1 = [1, 2, 3, 4, 5]
nums2 = [6, 7, 8, 9, 10] #stops if there are additional values in one list

z = list(zip(nums1, nums2))

print(z)
print(dict(z))

y = dict(z)
print(type(z))
print(type(y))

print(list(zip(*z))) #unpacks tuple pairs as two tuples

[(1, 6), (2, 7), (3, 8), (4, 9), (5, 10)]
{1: 6, 2: 7, 3: 8, 4: 9, 5: 10}
<class 'list'>
<class 'dict'>
[(1, 2, 3, 4, 5), (6, 7, 8, 9, 10)]

In [73]:
####....ZIP....(MORE COMPLEX)

midterms = [80,91,78]
finals = [98,89,53]
students = ['dan', 'ang', 'kate']


# returns dict with {student:highest score} USING DICT COMP
# {'dan': 98, 'ang': 91, 'kate': 78}
final_grades = {t[0]:max(t[1], t[2]) for t in zip(students, midterms, finals)}

print(final_grades)

#################################### ZIP using MAP and LAMBDA

# returns dict with {student:highest score} (same thing as above) USING MAP+LAMBDA
# {'dan': 98, 'ang': 91, 'kate': 78}
final_grades2 = dict(
    zip(
        students,
        map(
            lambda pair: max(pair),
            zip(midterms, finals)
        )
    )
)

print(final_grades2)


####gets average grades:

avg_grades = dict(
	zip(
		students,
		map(
			lambda pair: ((pair[0]+pair[1])/2),
			zip(midterms, finals)
		)
	)
)

print(avg_grades)

{'dan': 98, 'ang': 91, 'kate': 78}
{'dan': 98, 'ang': 91, 'kate': 78}
{'dan': 89.0, 'ang': 90.0, 'kate': 65.5}

In [79]:
#zip two numbers (use join because they are lists)
def interleave(str1,str2):
    return ''.join(''.join(x) for x in (zip(str1,str2)))

print(interleave('hi', 'no'))

hnio

In [100]:
str1='hi'
str2='no'
print(list(zip(str1,str2)))
print(''.join(''.join(x) for x in list(zip(str1,str2))))

[('h', 'n'), ('i', 'o')]
hnio

In [95]:
#take all numbers from list that are divisible by 4, and tripple them.

def triple_and_filter(lst):
    return list(filter(lambda x: x % 4 == 0, map(lambda x: x*3, lst))) #becuase it's nested, filter reads the list from maps

print(triple_and_filter([1,2,3,4,5,6,7,8]))

[12, 24]

In [106]:
##combines first and last name in kv pairs

names = [{'first': 'Elie', 'last': 'Schoppik'}, {'first': 'Colt', 'last': 'Steele'}]

def extract_full_name(l):
    return list(map(lambda val: f"{val['first']} {val['last']}", l))

print(extract_full_name(names))

['Elie Schoppik', 'Colt Steele']